@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');
/*body {
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
  
}

    */
*
{
margin: 0;
padding: 0;
box-sizing: border-box;

}

body{
height: 92.7vh; 
background:black;
overflow: hidden;


}


    .container {
position: relative;
width: 100%;
height: 100%;
overflow: hidden;



    }
    .bubbles {
      position: relative;
      display: flex;
     
    }

  
.bubbles span {
position: relative;
width: 30px;
height: 30px;
background:  #851294;
margin: 0 4px;
border-radius: 50%;
box-shadow: 0 0 0 7px #320638, 
0 0 50px #851294,
0 0 100px #851294;
animation: animate 15s linear infinite;

}

@keyframes animate 
{
0%
{
transform : translateY(100vh) scale(0);
}
100%
{
  transform : translateY(-10vh) scale(1);

  }
  }


    .footer-content {
      position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
      
      }
      
      ul{
        display: flex;  
        list-style: none;
       

      }

      .socials a{
        color: #b6b4ae;
   


      }

      ul li{
        position:relative;
        display:block;
        font-size: 28px;
        height: 50px;
        width: 50px;
        background: rgb(0, 0, 0);
        line-height: 53px;
        border-radius: 50%;
        margin: 0 15px;
        cursor: pointer;
        transition: .5s;
        


      }

      .icon1:before{
    position: absolute;
        content: '';
        top: 0;
        left: 0;
        background:#1121b1;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        z-index: -1;
        transform: scale(0.9);
        transition: .5s;
      

    
      }
      
      .icon1:hover:before{
      transform: scale(1.2);
      box-shadow: 0 0 15px #1121b1;
      filter: blur(3px);
      }

      
      .icon1:hover{
        text-shadow: 0 0 15px #1121b1;
        background-color: #1121b1;
      }


      .icon2:before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        background: #851294;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        z-index: -1;
        transform: scale(0.9);
        transition: .5s;
      

    
      }
      
      .icon2:hover:before{
      transform: scale(1.2);
      box-shadow: 0 0 15px #600e6b;
      filter: blur(3px);
      }

      
      .icon2:hover{
        text-shadow: 0 0 15px #851294;
        background-color: #851294;
      }






      .icon3:before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        background: #1f73b8;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        z-index: -1;
        transform: scale(0.9);
        transition: .5s;
      

    
      }
      
      .icon3:hover:before{
      transform: scale(1.2);
      box-shadow: 0 0 15px #1f73b8;
      filter: blur(3px);
      }

      
      .icon3:hover{
        text-shadow: 0 0 15px #1f73b8;
        background-color: #1f73b8;

}



.icon4:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: #b40a18;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0.9);
  transition: .5s;



}

.icon4:hover:before{
transform: scale(1.2);
box-shadow: 0 0 15px #b40a18;
filter: blur(3px);
}


.icon4:hover{
  text-shadow: 0 0 15px #b40a18;
  background-color: #b40a18;

}






    .footer-bottom{
        text-align: center;
      
  
        }
       
        .footer-bottom p{
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
        word-spacing: 3px;
        text-transform: capitalize;
        padding-top: 1px;
        color: #b6b4ae;
        
        }
    