@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.google.com/");

body,
html {
  height: 100;
  margin: 0;
  font-family: "Caveat", cursive;
  background-color: black;
}

.first {
  float: left;
  width: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/Fjellveien.jpg");
  color: white;
  height: 630px;
  font-size: 20px;
}

.first button {
  top: 70%;
  left: 22%;
  width: 100px;
  height: 40px;
  position: absolute;
  background-color: #ddd;
  cursor: pointer;
  font-family: "Caveat", cursive;
  font-size: 18px;
  border-radius: 50px;
}

.second button {
  top: 70%;
  left: 72%;
  width: 100px;
  height: 40px;
  position: absolute;
  background-color: #ddd;
  cursor: pointer;
  font-family: "Caveat", cursive;
  font-size: 18px;
  border-radius: 50px;
}

button:hover {
  background-color: blue;
  color: white;
}

h1,
p {
  text-align: center;
  padding: 20px;
}

.second {
  float: left;
  width: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/Rundemanen2.jpg");
  color: white;
  height: 630px;
  font-size: 20px;
}

p {
  color: white;
  font-size: 20px;
  font-family: "Caveat", cursive;
}
