body {
  background-color: 	 #000000;
}

h1
{
color: #ffffff;
font-family: Trebuchet MS;
}



h2
{
  color:  #ffffff;
  font-family: Trebuchet MS;
}

p
{
color: #ffffff;
font-family: Tahoma;
}

h3
{
  color: #ffffff;
  font-family: Trebuchet MS;
}
